
section.team-section{

    .flex-display(center, row, wrap);
    
    .team-content{
        width:300px;
        padding: 2%;
        margin: 2%;

        .team-intro{

            text-align: center;

            h4 {
                padding:5%;
                font-size:1.8rem;
            }

            h5 {
                padding: 3%;
                color:@blog-category-color;
                
            }
            p {
                padding-top: 5%;
                font-size: 1.5rem;
                color:@features-font-color;
            }
        }
    }
}

