

div.background {
    height: 50vh;
    background: url(../images/background1.jpg);

    h1 {
        color: white;
        text-align: center;
        padding:10%;
    }
}

section.main-section {
    text-align: center;
    padding:2%;
    p {
        padding: 5% 20%;
    }
}


section.features-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .feature-container{
        width:20%;
    }
}

section.metrics-section{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    padding: 5% 0%;
    margin: 2% auto;
    background-color: #4e4e4e;

    .metric-content {
        width: 20%;
        text-align: center;
        color:#fff;
        
        p{
            padding: 5%;
        }
    }

}


section.subscribe-section{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10%;

    .subscribe-content {
        width:50%;
        text-align: left;

        form{
            width: 100%;
            .btn{
                width:100%;
            }
        }
    }

    
  

}