


.flex-display(@justify,@direction,@wrap) {
    display: flex;
    justify-content: @justify;
    flex-direction: @direction;
    flex-wrap: @wrap;
}

@mobile: ~"(min-width: 600px)";
@tablet: ~"(min-width: 900px)";