


.flex-display(@justify,@direction,@wrap,@align: center) {
    display: flex;
    justify-content: @justify;
    flex-direction: @direction;
    flex-wrap: @wrap;
    align-items: @align;
}

@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";