@import "mixins";
header{
    //
    
    .flex-display(space-between,row,wrap);
    padding: 3.5%;

    
    
    
    @media @mobile{
        .flex-display(center,column,wrap);
    }
    .logo{
        width: 30px;
        margin-left: 1%;
    }

    
    
    nav {
        width: 40%;
        .flex-display(space-between,row,wrap);
        padding: 2%;

        @media @mobile{
            .flex-display(center,column,wrap);
        }

        a {
            text-decoration: none;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: @nav-font;
            font-weight:600;

            @media @mobile{
                padding: 2%;
            }
            
        }
        

    }
}