@main-font: 'Work Sans', sans-serif;
@font-color: #363636;
@btn-color: #4e4e4e;
@blog-category-color:#46d2a3;
@news-background: #faf9f9;
@special-color: #888;
@footer-background: #232328;
@nav-font:#444;
@features-font-color:#333;
@heading-colors:#363636;